<!DOCTYPE html>
<html lang="pt-br">
  <body> 
    <img [src]="logo" class="bg" alt="Segurança"> 
    
    <div>
      <h2 class="animated_rainbow_1">LOGIN</h2>
    </div>  
    
    <div class="divCenter">
        <div class="divLabel">
          <span class="p-float-label p-input-icon-left" >
            <i class="pi pi-envelope" ></i>
            <input id="usuario" type="text" pInputText>
            <label for="usuario" style="color: white;">Usuario</label>
          </span>
        </div>

        <div class="divLabel">
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-key"></i>
            <input id="password" type="password" pInputText>
            <label for="password" style="color: white;">Senha</label>
          </span>
        </div>

        <div style="margin-top: 35px;"></div>

        <div class="divButton">
          <a href="/index" pButton class="button" label="Entrar"></a>
        </div>

        <div class="divButton">
          <a href="/registrarusuario" pButton class="p-button-success button" label="Registre-se aqui"></a>
        </div>
          
        <div class="divButton">
            <a href="/recuperarsenha" pButton class="p-button-text button" label="Esqueci a senha!"></a>
        </div>

      </div>

  </body>
</html>

